In [1]:
# 1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [7]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

In [8]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
# 2.Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [10]:
lst = [1, 2, "Aditya", "Aman", 3, True, False, 4.5, 9, 10]

In [11]:
pd.Series(lst)

0         1
1         2
2    Aditya
3      Aman
4         3
5      True
6     False
7       4.5
8         9
9        10
dtype: object

In [ ]:
# 3.Create a Pandas DataFrame that contains the following data:

In [12]:
data = {'Name':["Alice", "Bob", "Clarie"],
       'Age':[25, 30, 27],
       'Gender':['Female', 'Male', 'Female']}

In [13]:
df = pd.DataFrame(data)

In [14]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

In [17]:
# 4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [22]:
print('''A DataFrame can be consider as a table in a relational database or a spreadsheet in Excel. It's a two-dimensional data structure composed of rows and columns, where each column represents a variable or feature, and each row
represents an observation or entry.
Heterogeneous Data Types: In a DataFrame, columns can contain data of different types (e.g., integers, floats, strings, etc.).\n
A Pandas Series, on the other hand, is a one-dimensional array-like object that can hold a single column of data 
and is often used for representing and manipulating a single variable or feature within a DataFrame.
It can hold data types like integers, floats, strings, or even more specialized types like datetime, categorical, or boolean.
It's a one dimensity, single column.''')

A DataFrame can be consider as a table in a relational database or a spreadsheet in Excel. It's a two-dimensional data structure composed of rows and columns, where each column represents a variable or feature, and each row
represents an observation or entry.
Heterogeneous Data Types: In a DataFrame, columns can contain data of different types (e.g., integers, floats, strings, etc.).

A Pandas Series, on the other hand, is a one-dimensional array-like object that can hold a single column of data
and is often used for representing and manipulating a single variable or feature within a DataFrame.
It can hold data types like integers, floats, strings, or even more specialized types like datetime, categorical, or boolean.
It's a one dimensity, single column.

In [23]:
# 5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give 
# an example of when you might use one of these functions?

In [24]:
print('''
read_csv() - 'Load data from csv files',
fillna() - 'Replace missing values in DataFrame',
mean() - 'To calculate mean of a dataframe',
head() - 'To get first five data from dataframe'
''')

read_csv() - 'Load data from csv files',
fillna() - 'Replace missing values in DataFrame',
mean() - 'To calculate mean of a dataframe',
head() - 'To get first five data from dataframe'

In [25]:
# 6.Which of the following is mutable in nature Series, DataFrame, Panel?

In [26]:
print("All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.")

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

In [27]:
# 7.Create a DataFrame using multiple Series. Explain with an example.

In [34]:
d1 = [1, 2, 3, 4, 5]
d2 = list(map(lambda x: x**2, d1))

In [35]:
s1 = pd.Series(d1)
s2 = pd.Series(d2)

In [36]:
print(s1, "\n\n", s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

 0     1
1     4
2     9
3    16
4    25
dtype: int64

In [37]:
pd.DataFrame({'Number':s1, 'Square_Number':s2})

   Number  Square_Number
0       1              1
1       2              4
2       3              9
3       4             16
4       5             25